.contenedor{
  width: 315px;
  display: block;
  margin: auto;
}
.contenedor a{
  text-decoration: none;
}
swiper-slide {
font-size: 18px;
background: #210225;
color: #f0f8ff;
display: flex;
justify-content: center;
margin: 0 4px;
padding: 8px 16px;
border: 1px solid #ddd;
border-radius: 10px;
cursor: pointer;
}
